* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Tajawal', sans-serif;
  font-size: 19px;
  font-weight: 300;
  text-align: center;
  line-height: 1.6;
  color: #000;
}

img {
  width: 100%;
}

/*header styling*/
header {
  background-color: #fff;
  /*color added to fix transparency*/
  /*padding: 20px;
  margin: 0 auto;*/
  text-align: center;
  min-width: 120px;
  /*box shadow*/
  -webkit-box-shadow: 7px 7px 5px 0px rgba(224, 224, 224, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(224, 224, 224, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(224, 224, 224, 0.75);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 250px;
}

/*was 99.8 but top header still was not showing so it was changed*/
h1,
h2,
h3,
h4 {
  background-color: #fff;
  font-family: 'Tajawal', sans-serif;
  text-align: center;
  line-height: 1.0;
  width: 100%;
}

h1 {
  font-size: 2.50em;
  font-weight: 600;
  color: #617F4A;
}

h2 {
  font-size: 2.50em;
  font-weight: 600;
  color: #617F4A;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  color: #8D2C2A;
}

h4 {
  font-size: 1.75em;
  font-weight: 400;
  color: #8D2C2A;
}

a:visited {
  background-color: #F2EAE6;
  color: #fff;
}

a:hover {
  background-color: #F2EAE6;
  color: #fff;
}

/*must come after visited to be effective!! */
a:focus {
  background-color: #F2EAE6;
  color: #617F4A;
  text-decoration: underline;
}

a:active {
  background-color: #F2EAE6;
  color: #617F4A;
}

/*layout Styling*/
.container {
  margin: 25px 0;
  padding: 0 15px;
  text-align: center;
}

.row {
  margin: 25px 0;
  padding: 0 15px;
  text-align: center;
  /* 25px top and bottom, 0 left and right */
}

[class*="col-"] {
  float: left;
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  text-align: center;
  /*may have to remove for queries*/
}

.logo {
  max-width: 120px;
  margin: auto;
  float: left;
}

.social {
  display: inline-block;
  text-align: center;
  width: 100%;
}

/*.beautify {
  width: 100%;
}*/
#behance {
  padding: 0 15px;
}

#skills {
  padding: 0 15px;
  align-content: center;
}

#tools {
  padding: 0 15px;
  align-content: center;
}

#hero h1,
h2,
h3,
h4,
h5 {
  padding: 20px 0;
  display: block;
  /*width: 100%;*/
}

/*#hero span {
  display: block;
}*/
#work {
  text-align: center;
}

#span {
  display: inline-block;
  width: 25%;
  text-align: center;
}

#story {
  text-align: center;
}

#about-page h3 {
  margin-top: 0;
}

nav>ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.responsive nav>ul {
  margin-top: 115px;
}

nav>ul>li {
  list-style-type: none;
  padding: 0px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}

nav>ul>li>a {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #212b1c;
  background-color: #617F4A;
}

nav>ul>li>a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #212b1c;
  background-color: #617F4A;
}

nav>ul>li>a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #617F4A;
  background-color: #fff;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgb(145, 177, 120);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/*button - must go at the END of the CSS document to keep code from being overwritten*/
.button {
  display: inline-block;
  width: auto;
  background-color: #617F4A;
  color: #fff;
  /* needed to override the default link color */
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgb(126, 135, 119);
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  background-color: #617F4A;
}

.button:active {
  opacity: 0.8;
  background-color: #617F4A;
}

/*email button*/
.button.contact {
  background-color: #8D2C2A;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #617F4A;
  color: #ffffff;
}

/*CV Button*/
.button.downloadcv {
  background-color: #617F4A;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.downloadcv:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.downloadcv:active {
  opacity: 0.8;
  text-decoration: none;
}

/*Colors Used:
Green Buttons: #617F4A;
White Font: #fff;
Background: #F2EAE6;
Headers:
Link Clicked Grey: #505564;
Dark Green Main Font: #212b1c;
Red Project Titles: #8D2C2A;



    Accent Color (Red): (141,44,42);

    Accent Color (Light Tan): (233,219,211);
    Accent Color (Dark Tan): (213,187,171);

    Link Clicked (Slate Grey): (80,85,100);

    White (255,255,255)
    Black (0,0,0)
    Email Button (Pink) (232,189,208)
        */
/*media queries at bottom of css file*/
/*media queries = aka breakpoints for different devices and screens*/
/*no css for small screens since small screens was defualt size*/
/*medium screens*/
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 10px 0 4px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 40px;
    text-decoration: none;
  }

  nav>ul {
    margin: 1em 0;
    width: 100%;
  }

  nav>ul>li {
    display: inline-block;
    position: relative;
    align-content: center;
  }

  #hero span {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: none;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
    padding: 10px;
  }

  .col-md-7 {
    width: 60%;
    padding: 10px;
  }

  .col-md-5 {
    width: 40%;
    padding: 10px;
  }

  .logo {
    max-width: 90px;
    align-content: center;
  }
}

/*large screens*/
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 10px 0 4px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    margin: auto;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #hero span {
    display: block;
  }

  .logo {
    max-width: 90px;
  }

  .col-lg-7 {
    width: 60%;
    padding: 10px;
  }

  .col-lg-5 {
    width: 40%;
    padding: 10px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*left column
<div class="row">
  <div class="column col-md-6 col-lg-7">
    <picture>*/
/*right column
<div class="column col-md-6 col-lg-5">
    <h3>Project name</h3>*/
/*extra large screens*/
@media only screen and (min-width: 1024px) {}

/*animation*/
/*
.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation-name: color-change;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-name: cloud-move;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation-duration: 34s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}*/
