* {
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 219, 211);
  font-family: 'Gilda Display', serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 1.6;
  color: rgb(33, 43, 28);
}

img {
  width: 100%;
}

/*header styling*/
header {
  background-color: rgb(233, 219, 211);
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  max-width: 150px;
  min-width: 120px;

  /*box shadow*/
  -webkit-box-shadow: 7px 7px 5px 0px rgba(233, 219, 211, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(233, 219, 211, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(233, 219, 211, 0.75);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 200px;
}
  /*was 99.8 but top header still was not showing so it was changed*/

  h1,
  h2,
  h3,
  h4 {
    background-color: rgb(233, 219, 211);
    font-family: 'Gilda Display', serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
    width: 100%;
    color: rgb(126, 135, 119);
  }

  h1 {
    background-color: rgb(233, 219, 211);
    font-size: 2.75em;
    font-weight: 700;
    width: 100%;
    color: rgb(126, 135, 119);
    padding: 15px;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 700;
    width: 100%;
    color: rgb(126, 135, 119);
    padding: 15px;
  }

  h3 {
    font-size: 1.75em;
    font-weight: 400;
    width: 100%;
    color: rgb(141, 44, 42);
    padding: 15px;
  }

  h4 {
    font-size: 1.35em;
    font-weight: 400;
    width: 100%;
    color: rgb(141, 44, 42);
    padding: 15px;
  }

  a:visited {
    color: rgb(0, 0, 0);
  }

  a:hover {
    color: rgb(139, 165, 241);
  }

  /*must come after visited to be effective!! */
  a:focus {
    color: rgb(95, 115, 175);
    text-decoration: underline;
  }

  a:active {
    color: rgb(139, 165, 241);
  }

  /*layout Styling*/
  .container {
    margin: 25px 0;
    padding: 0 15px;
    text-align: center;
  }

  .row {
    margin: 25px 0;
    padding: 0 15px;
    text-align: center;
    /* 25px top and bottom, 0 left and right */
  }

[class*="col-"] {
  float: left;
}

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .center {
    text-align: center;
    /*may have to remove for queries*/
  }

  .logo {
    max-width: 120px;
    margin: auto;
    /*float:left;*/
  }

  .social {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  #behance {
    padding: 0 15px;
  }

  #skills {
    padding: 0 15px;
  }

  #tools {
    padding: 0 15px;
  }

  #hero h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
    background-color: rgb(233, 219, 211);
    padding: 20px 0;
    display: block;
    width: 100%;
  }

  /*#hero span {
  display: block;
}*/
  #work {
    text-align: center;
  }

  #span {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  #story {
    text-align: center;
  }

  #about-page h3 {
    margin-top: 0;
  }

  /*#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}*/

nav>ul {
  list-style-type: none;
  padding:0;
  margin: 0;
}

nav>ul>li {
  list-style-type: none;
  padding: 0px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700px;
  color: rgb(33, 43, 28);
}

nav>ul>li>a {
  display: inline-block;
  list-style-type: none;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

nav>ul>li>a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(139, 165, 241);
}

nav>ul>li>a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(139, 165, 241);
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgb(145, 177, 120);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

/*button - must go at the END of the CSS document to keep code from being overwritten*/
.button {
  display: inline-block;
  width: auto;
  background-color: rgb(145, 177, 120);
  color: #ffffff;
  /* needed to override the default link color */
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgb(126, 135, 119);
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.8;
}

/*email button*/
.button.contact {
  background-color: rgb(80, 85, 100);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: rgb(95, 115, 175);
  color: rgb(255, 255, 255);
}

/*CV Button*/
.button.downloadcv {
  background-color: rgb(145, 177, 120);
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.downloadcv:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.downloadcv:active {
  opacity: 0.8;
  text-decoration: none;
}

/*Colors Used:
    Primary Color (Light Green): (126,135,119);
    Secondary Color (Dark Green): (33,43,28);
    Accent Color (Red): (141,44,42);
    Accent Color (Light Tan): (233,219,211);
    Accent Color (Dark Tan): (213,187,171);
    Link (Peridot Green): (145,177,120);
    link (Periwinkle): (139,165,241);
    Link Clicked (Slate Grey): (80,85,100);
    Focus (Dark Periwinkle): (95,115,175);
    White (255,255,255)
    Black (0,0,0)
    Email Button (Pink) (232,189,208)
        */
/*media queries at bottom of css file*/
/*media queries = aka breakpoints for different devices and screens*/
/*no css for small screens since small screens was out defualt size*/
/*meduim screens*/
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 10px 0 4px;
    }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
  margin: 1em 0;
}

  nav>ul>li {
    display: inline-block;
    position: relative;
  }

  #hero span {
    display: block;
  }

  .navtoggle li:not(:last-child) {
    display: none;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
    padding: 10px;
  }

  .col-md-7 {
    width: 60%; padding: 10px;
  }

  .col-md-5 {
    width: 40%; padding: 10px;
  }

  .logo {
    max-width: 90px;
    align-content: center;
  }
}

  /*large screens*/
  @media only screen and (min-width: 1024px) {
    header {
      text-align: unset;
      padding: 10px 0 4px;
    }

    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }

    .navtoggle li:not(:last-child) {
      display: inline-block;
    }

    .navtoggle li:last-child {
      display: none;
    }

    #hero span {
      display: block;
    }

    .logo {
      max-width: 90px;
    }

    .col-lg-7 {
      width: 60%; padding: 10px;
    }

    .col-lg-5 {
      width: 40%; padding: 10px;
    }

    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

    /*left column
<div class="row">
  <div class="column col-md-6 col-lg-7">
    <picture>*/
    /*right column
<div class="column col-md-6 col-lg-5">
    <h3>Project name</h3>*/

    /*extra large screens*/
    @media only screen and (min-width: 1440px) {
}
      /*animation*/
      .berlin-illustration {
        width: 100%;
        max-width: 100%;
        height: auto;
      }

      @keyframes color-change {
        from {
          fill: #edc655;
        }

        to {
          fill: #f76414;
        }
      }

      .sun {
        animation-name: color-change;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
      }

      @keyframes cloud-move {
        from {
          transform: translate(0, 50px);
        }

        to {
          transform: translate(200px, 50px);
        }
      }

      .cloud-front {
        animation-name: cloud-move;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
      }

      @keyframes cloud-move-reverse {
        from {
          transform: translate(446px, 48px);
        }

        to {
          transform: translate(100px, 48px);
        }
      }

      .cloud-back {
        animation-duration: 34s;
        animation-name: cloud-move-reverse;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
      }
